Repository dressalima/devopsaula7, pull requests merged in 2018-09, with the labels that each got.

#7 Integrar implementação v1.0
  src/jogovelha.py
Labels: Programação

#9 Integrar testes v1.0
  src/testes_inic.py
  src/testes_jogar.py
Labels: Testes

#6 Create arquitetura.md
  docs/arquitetura.md
Labels: Arquitetura

#8 V1.0 analise
  docs/requisitos.md
Labels: Analise

#16 Integrar requisitos v1.1
  docs/requisitos.md
Labels: Analise

#15 Integrar implementação v1.1
  src/jogovelha.py
Labels: Programação

#17 Create arquitetura.md
  docs/arquitetura.md
Labels: Arquitetura

#18 Integrar testes v1.1
  src/testes_inic.py
  src/testes_jogar.py
Labels: Testes
